<!-- HEADER INCLUDE !-->
<header>
    <div class="wrapper clearfix">
        <div class="res-col columns span-20-80">
            <div class="column span-20">
                <div class="logo">
                    <a href="/"><img src="{{asset('/images/logo.png')}}" class="bk-logo"></a>
                </div>
            </div>
            <div class="column span-80">
                <nav class="nav-desktop clearfix">
                    <ul>
                        <li><a href="/tour">Tour</a></li>
                        <li><a href="/partners">Partners</a></li>
                        <li><a href="/developers">Developers</a></li>
                        <li><a href="/developer-login" class="button small-btn orange">Log in</a></li>
                    </ul>
                </nav>
                <nav class="nav-mob">
                    <div id="dl-menu" class="dl-menuwrapper">
                        <button class="dl-trigger dl-active">Open Menu</button>
                        <ul class="dl-menu">
                            <li><a href="/tour">Tour</a></li>
                            <li><a href="/partners">Partners</a></li>
                            <li><a href="/developers">Developers</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>