<!-- DEV FOOTER INCLUDE !-->
<footer>
    <div class="wrapper">
        <div class="res-col columns span-25x4">
            <div class="column span-four">
                <h4 class="h4white">BaseKit</h3>
                <ul class="footer-menu">
                    <li><p><a href="/tour">Tour</a></p></li>
                    <li><p><a href="/partners">Partners</a></p></li>
                    <li><p><a href="/developers">Developers</a></p></li>
                    <li><p><a href="/blog">Blog</a></p></li>
                </ul>
            </div>
            <div class="column span-four company">
                <h4 class="h4white">Company</h4>
                <ul class="footer-menu">
                    <li><p><a href="/terms-and-conditions" class="desktop">Terms &amp; Conditions</a><a href="/terms-and-conditions" class="tablet">T's &amp; C's</a></p></li>
                    <li><p><a href="https://basekit.zendesk.com">Support</a></p></li>
                    <li><p><a href="/careers">Careers</a></p></li>
                </ul>
            </div>
            <div class="column span-four footer-clear">
                <h4 class="h4white">Developers</h4>
                <ul class="footer-menu">
                    <li><p><a href="http://docs.basekit.com" class="desktop">Documentation<i class="fa fa-external-link"></i></a><a href="http://basekit-templates.github.io/template-docs/" class="tablet">Docs<i class="fa fa-external-link"></i></a></p></li>
                    <li class="dev-signup"><p><a>Sign Up Now</a></p></li>
                    <li><p><a href="http://developers.basekit.com/blog">Developer Blog</a></p></li>
                    <li><p><a href="http://knowledge.basekit.com">Knowledge Forum</a></p></li>
                </ul>
            </div>
            <div class="column span-four">
                <h4 class="h4white">Social</h4>
                <ul class="footer-menu half">
                    <li><p><a href="https://twitter.com/basekitdevs">Twitter</a></p></li>
                    <li><p><a href="https://plus.google.com/108742094467162026595/posts">Google+</a></p></li>
                </ul>
                <ul class="footer-menu half">
                    <li><p><a href="http://www.youtube.com/user/TeamBaseKit">YouTube</a></p></li>
                </ul>
            </div>
        </div>
        <div class="footer2 clearfix">
            <div class="left">
                <p><span class="mobHide">Copyright</span> &copy; BaseKit Platform {{ "now"|date("Y") }}. All Rights Reserved.</p>
            </div>
            <div class="right">
                <p class="desktop">VAT Registration Number 339 0727 47 | Company Number 06669087</p>
                <p class="tablet mobHide">VAT No. 339 0727 47&nbsp;|&nbsp;Company No. 06669087</p>
            </div>
        </div>
    </div>
</footer>