<!-- RD Footer -->
<footer class="rd-footer  section  alt">
	<div class="container-sml">

		<div class="flex-container  span-grid--space">

			<div class="flex-item">
				<h5>BaseKit</h5>
				<ul class="rd-footer-list">
					<li class="rd-footer-list-item">
						<a href="/about" class="rd-footer-link">About</a>
					</li>
					<li class="rd-footer-list-item">
						<a href="/partners" class="rd-footer-link">Partners</a>
					</li>
					<li class="rd-footer-list-item">
						<a href="/developers" class="rd-footer-link">Developers</a>
					</li>
					<li class="rd-footer-list-item">
						<a href="/blog" class="rd-footer-link">Blog</a>
					</li>
				</ul>
			</div>

			<div class="flex-item">

				<h5>Community</h5>
				<ul class="rd-footer-list">
					<li class="rd-footer-list-item">
						<a href="http://developers.basekit.com/" target="_blank" class="rd-footer-link">Developers</a>
					</li>
					<li class="rd-footer-list-item">
						<a href="http://knowledge.basekit.com/" target="_blank" class="rd-footer-link">Knowledge</a>
					</li>
					<li class="rd-footer-list-item">
						<a href="http://docs.basekit.com/" target="_blank" class="rd-footer-link">Documentation</a>
					</li>
					<li class="rd-footer-list-item">
						<a href="http://developers.basekit.com/blog" class="rd-footer-link">Blog</a>
					</li>
				</ul>
			</div>

			<div class="flex-item">

				<h5>More</h5>
				<ul class="rd-footer-list">
					<li class="rd-footer-list-item">
						<a href="https://basekit.zendesk.com" target="_blank" class="rd-footer-link">Support</a>
					</li>
					<li class="rd-footer-list-item">
						<a href="/careers" class="rd-footer-link">Careers</a>
					</li>
					<li class="rd-footer-list-item">
						<a href="/terms-and-conditions" class="rd-footer-link">Terms &amp; Conditions</a>
					</li>
					<!--<li class="rd-footer-list-item">
						<a href="https://mixpanel.com/f/partner" class="mixpanel"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics"/></a>-->
					</li>
				</ul>
			</div>

		</div>

		<footer class="rd-sub-footer">
			<div class="flex-container  span-grid--space  vac">
				<div class="flex-item">
					<a href="/" class="rd-logo-link">
						<img src="{{asset('images/rd-images/rd-logo--colour.svg')}}" alt="BaseKit Logo" class="rd-logo">
					</a>
				</div>
				<div class="flex-item">
					<p class="rd-copyright-text">© BaseKit Platform 2015. All Rights Reserved.</p>
				</div>
			</div>
		</footer>

	</div>
</footer> 