<!-- RD Header -->
<header class="rd-header  alt">
	<div class="container">
    	<div class="flex-container  span-grid--space  vac  strict">

			<a href="/" class="rd-logo-link">
				<img src="{{asset('images/rd-images/rd-logo--colour.svg')}}" alt="BaseKit Logo" class="rd-logo">
			</a>

			<a class="rd-menu-toggle" id="rd-menu-toggle">
				<span class="rd-menu-icon"></span>
			</a>

			<!-- RD Navigation -->
			<nav class="rd-nav-main">

				<ul class="rd-nav-menu">
					<li class="rd-nav-item">
						<a href="/about" class="rd-nav-link">About</a>
					</li>
					<li class="rd-nav-item">
						<a href="/partners" class="rd-nav-link">Partners</a>
					</li>
					<li class="rd-nav-item">
						<a href="/developers" class="rd-nav-link">Developers</a>
					</li>
					<li class="rd-nav-item">
						<a href="/blog" class="rd-nav-link">Blog</a>
					</li>
					<li class="rd-nav-item">
						<a href="/partners" class="button  sml">Partner with us</a>
					</li>
				</ul>

			</nav>
			<!-- End RD Navigation -->

		</div>
	</div>
</header>