<!-- RD Video -->
<div class="rd-video-wrapper">

	<div class="rd-video" data-vide-bg="mp4: http://basekit-packages.s3.amazonaws.com/bk-feature-video.mp4, webm: http://basekit-packages.s3.amazonaws.com/bk-feature-video.webm, poster: http://basekit-packages.s3.amazonaws.com/rd-feature-video.jpg" data-vide-options="posterType: jpg"></div>

	<div class="rd-video-poster"></div>

	{% include "includes/rd-header.twig" %}

	<!-- RD Video Content -->
	<div class="rd-video-content">
		<div class="container">

			<!-- WP Feature Content -->
			<div class="rd-video-content-wrapper">

				<h1 class="rd-video-title">Websites <br>for <br>small business</h1>
				<h3 class="rd-video-subtitle">Create a beautiful, responsive website, blog or online store.</h3>
				<!-- <button href="#" class="vimeo-launch  play-button" data-vimeo-id="122645778" data-label="Launch Vimeo Lightbox">Play Video</button> -->

			</div>

		</div>
	</div>

	<!-- RD Partner Bar -->
	<div class="rd-partner-bar">

		<ul class="partner-bar-list">
			<li class="partner-bar-list-item  partner-bgs  host-europe">
				<span class="sprite-item  host-europe"></span>
			</li>
			<li class="partner-bar-list-item  partner-bgs  enom">
				<span class="sprite-item  enom"></span>
			</li>
			<li class="partner-bar-list-item  partner-bgs  telefonica">
				<span class="sprite-item  telefonica"></span>
			</li>
			<li class="partner-bar-list-item  partner-bgs  kpn">
				<span class="sprite-item  kpn"></span>
			</li>
			<li class="partner-bar-list-item  partner-bgs  home-pl">
				<span class="sprite-item  home-pl"></span>
			</li>
		</ul>

	</div>

</div>
